html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#layout {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .layout-header {
    min-height: 70px;
    max-height: 70px;
    padding: 5px 20px;
    margin: 10px;
  }

  .layout-content {
    padding: 0px 10px;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    justify-content: flex-start;

    .layout-content-menu {
      min-width: 250px;
      max-width: 250px;
      height: 100%;
      margin-right: 10px;
      padding: 10px;
    }

    .layout-content-main {
      width: 100%;
      height: 100%;
      padding: 10px;
    }
  }
}
